.page {

    .section {

        & > [class^='section'] {
            max-width: 1440px;
            margin: 0 auto;

            @media #{$mobile}, #{$phablet}, #{$tablet} {
                padding: 0 var(--space);
            }

            @media #{$desktop}, #{$large} {
                padding: 0 calc(var(--space) * 4);
            }
        }

        @media #{$mobile}, #{$phablet}, #{$tablet} {
            margin: 0 0 var(--section-space);
        }

        @media #{$desktop}, #{$large} {
            margin: 0 0 var(--section-space);
        }

        &.no-space {
            --section-space: 0;
        }

        &.video {
            background-color: var(--maincolor);
            padding: {
                top: calc(var(--space) * 2);
                bottom: calc(var(--space) * 2);
            }
        }

        &.podcast {
            background-color: var(--green);
            padding: {
                top: calc(var(--space) * 2);
                bottom: calc(var(--space) * 2);
            }
        }
    }
}

@import 'pages/homepage';
