* {

	&,
	&::before,
	&::after {
		background: {
			repeat: var(--background-repeat);
		}
		box-sizing: border-box;
		outline: none;
	}
}

a[class] {
	color: var(--link-color);
	text: {
		decoration:  none;
	}
}

ul[class],
ol[class] {
	list-style: none;
	margin: var(--space-none);
	padding: var(--space-none);
}

h1,
h2,
h3,
h4,
p[class],
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: var(--space-none);
	padding: var(--space-none);
}

html,
body {
	display: flex;
}

body {
	background: {
		color: var(--background-color);
	}
	direction: rtl;
	font: {
		family: 'Rubik';
		size: var(--body-font);
	}
	flex-direction: column;
	line-height: 1.3;
	margin: var(--space-none);
	min-height: 100vh;
	overflow: {
		x: hidden;
		y: auto;
	}
	padding: var(--space-none);
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	width: var(--col-12);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
	font: inherit;
	padding: var(--space-base);
}

@media (prefers-reduced-motion: reduce) {

	* {
		animation-play-state: paused !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

blockquote[class],
q[class] {
	quotes: none;

	&:before,
	&:after {
		content: '';
	}
}

table[class] {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: flex;
	max-width: 100%;
}

.ip-wrapper  {
	display: inherit;
	flex: {
		direction: inherit;
	}
	width: var(--col-12);
}
