* {

	&,
	&::before,
	&::after {
		background: {
			repeat: var(--background-repeat);
		}
		box-sizing: border-box;
		outline: none;
	}
}

html {
	direction: rtl;
	font-family: 'Assistant', sans-serif;
	font-size: 1px;
}

body {
	font-size: var(--body-font);
}

html,
body {
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {

	* {
		animation-play-state: paused !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

img {
	display: flex;
	max-width: 100%;
}

.lazy-load {
	// content-visibility: auto;
}
