// ======================================== [ RELATIONS ] ========================================
.content-ask-the-rabbie {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--title-section-font-size: 24rem;
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-size: 38rem;
		--title-section-font-weight: 900;
		--content-columns: 1fr;
	}

	.article {
		--title-secondary-display: none;

		&:first-of-type {
			--relations-image-display: block;
		}

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-areas: 'article--header' 'article--category';
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--header' 'article--category';
		}

		.article {

			&__image {
				display: none;
			}

			&__time {
				display: none;
			}
		}
	}
}
// ======================================== [ RELATIONS ] ========================================
