// ======================================== [ BREAKING NEWS ] ========================================
.content-breaking-news {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-weight: 900;
		--title-main-font-size: 20rem;
		--title-main-font-weight: 600;
		--content-columns: 1fr;

		.list {
			overflow-y: auto;
			max-height: 300px;

			.article {

				&:not(:last-child) {
					margin-bottom: calc(var(--space) * 1.5);
				}
			}
		}
	}

	.article {
		--title-secondary-display: none;

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-columns: 100%;
			--article-areas: 'article--header' 'article--time';
		}

		@media #{$desktop}, #{$large} {
			--article-columns: 100%;
			--article-areas: 'article--header' 'article--time';
		}

		&__image,
		&__category {
			display: none;
		}
	}
}
// ======================================== [ BREAKING NEWS ] ========================================
