// ======================================== [ FOOD ] ========================================
.content-food {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	&--pane {
		display: grid;
		grid-gap: 20px;
	}

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--title-section-font-size: 24rem;
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-size: 38rem;
		--title-section-font-weight: 900;
		--content-columns: 2fr 1fr;

		&--pane {

			&:first-of-type {
				grid-template-columns: repeat(2, 1fr);
			}

			&:last-of-type {

				.article {

					@media #{$desktop}, #{$large} {
						--article-areas: 'article--image article--category' 'article--image article--header';
						--article-columns: 90px 1fr;
						--article-image-height: 90px;
						--article-image-width: 90px;
						--article-media-height: 100%;
						--article-media-fit: cover;
						grid-column-gap: 20px;
					}
				}
			}
		}
	}

	.article {
		--title-secondary-display: none;

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-columns: 105px 1fr;
			--article-areas: 'article--image article--category' 'article--image article--header';
			--article-image-height: 105px;
			--article-image-width: 105px;
			--article-media-height: 100%;
			--article-media-fit: cover;
			grid-column-gap: 20px;
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--category' 'article--header' 'article--time';
		}

		.article {

			&__time {
				display: none;
			}
		}
	}
}
// ======================================== [ FOOD ] ========================================
