// ======================================== [ NEWS ] ========================================
.content-news {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--content-columns: 1fr;
	}

	@media #{$desktop} {
		--content-columns: repeat(2, 1fr);
	}

	@media #{$large} {
		--content-columns: repeat(3, 1fr);
	}

	@media #{$desktop}, #{$large} {
	}

	.article {
		--title-secondary-display: none;
		grid-column-gap: 20px;

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-columns: 105px 1fr;
			--article-areas: 'article--image article--category' 'article--image article--header' 'article--image article--time';
			--article-image-height: 105px;
			--article-image-width: 105px;
			--article-media-height: 100%;
			--article-media-fit: cover;
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--category' 'article--header' 'article--time';
			--title-main-font-size: 20rem;
			--title-main-font-weight: 700;
		}

		&.no-pic {

			@media #{$desktop}, #{$large} {
				--title-main-font-size: 24rem;
				--article-areas: 'article--category' 'article--header' 'article--time';
				background: var(--gray);
				grid-template-rows: 1fr 5fr 1fr;
				padding: 20px;

				.article__image {
					display: none;
				}
			}
		}

		&:first-of-type {

			@media #{$mobile}, #{$phablet}, #{$tablet} {
				--title-main-font-size: 22rem;
				--article-columns: unset;
				--article-areas: 'article--image' 'article--category' 'article--header' 'article--time';
				--article-image-height: auto;
				--article-image-width: 100%;
				--article-media-height: auto;
				--article-media-fit: unset;
			}
		}
	}
}
// ======================================== [ NEWS ] ========================================
