// ======================================== [ NEWS ] ========================================
.content-our-writers {

	.title {

		&.section {
			--title-section-margin-bottom: 40px;
		}
	}

	.list {

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 20px;
			margin-top: -40px;
			padding-top: 40px;
			overflow-x: scroll;
			overflow-y: visible;

			.article {
				width: 200px;
			}
		}

		@media #{$desktop}, #{$large} {
			--content-columns: repeat(6, 1fr);
			--title-main-font-size: 20rem;
			--title-main-font-weight: 700;
			display: grid;
			grid-template-columns: var(--content-columns);
			grid-gap: 20px;
		}
	}

	.article {
		--title-secondary-display: none;
		background-color: var(--gray);
		grid-column-gap: 20px;
		padding: var(--space);

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-areas: 'article--image' 'article--category' 'article--header';
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--category' 'article--header';
		}

		&__image {
			--article-image-height: 70px;
			--article-image-width: 70px;
			--article-media-height: 70px;
			--article-media-fit: cover;
			border-radius: 100%;
			margin: calc((var(--space) + (var(--article-image-height) / 2)) * -1) auto 0;
			overflow: hidden;
		}

		&__category {
			margin: 0 auto var(--space);
		}

		&__header {

			.secondary {
				--title-secondary-display: none;
			}
		}

		&__time {
			display: none;
		}
	}
}
// ======================================== [ NEWS ] ========================================
