// ======================================== [ MAIN ] ========================================
.content-podcast {
	--article-media-height: 100%;
	--article-media-fit: cover;

	.list {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: var(--content-columns);

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--content-columns: repeat(4, 1fr);
			padding-bottom: 20px;
			overflow-x: scroll;
			overflow-y: visible;

			.article {
				width: 155px;
			}
		}

		@media #{$desktop}, #{$large} {
			--content-columns: repeat(4, 1fr);
		}
	}

	.article {
		--categorycolor: var(--lightblue);
		--article-title-secondary-display: none;

		.secondary {
			display: var(--article-title-secondary-display);
		}

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-gap: 20px;
			--article-areas: 'article--image' 'article--header';
			--article-media-fit: cover;
		}

		@media #{$desktop}, #{$large} {
			--article-gap: 0;
			--article-columns: 1fr 1.3fr;
			--article-areas: 'article--image article--header';
		}

		&__header {
			background-color: rgba(255, 255, 255, 0.4);
			padding: var(--space);
		}

		&__category,
		&__time {
			display: none;
		}
	}
}
// ======================================== [ MAIN ] ========================================
