// ======================================== [ RELATIONS ] ========================================
.content-relations {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--content-columns: 1fr;
	}

	.article {
		--title-secondary-display: none;
		--relations-image-display: none;

		&:first-of-type {
			--relations-image-display: block;
		}

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-areas: 'article--image' 'article--category' 'article--header';
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--category' 'article--header';
			--title-main-font-size: 20rem;
			--title-main-font-weight: 700;
		}

		.article {

			&__image {
				display: var(--relations-image-display);
			}

			&__time {
				display: none;
			}
		}
	}
}
// ======================================== [ RELATIONS ] ========================================
