// ======================================== [ SPECIAL PROJECTS ] ========================================
.content-special-projects {
	--title-section-background-color: var(--yellow);

	.list {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: var(--content-columns);

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--content-columns: repeat(4, 1fr);
			padding-bottom: 20px;
			overflow-x: scroll;
			overflow-y: visible;

			.article {
				width: 250px;
			}
		}

		@media #{$desktop}, #{$large} {
			--content-columns: repeat(4, 1fr);
		}
	}

	.article {
		--title-secondary-display: none;

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-areas: 'article--image' 'article--header';

			&__header {
				background-color: var(--white);
				box-shadow: var(--box-shadow);
				margin: -20px 10px 0;
				padding: var(--space);
				position: relative;
				z-index: 10;
			}
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--header';
			--title-main-font-size: 20rem;
			--title-main-font-weight: 700;

			&__header {
				background-color: var(--white);
				box-shadow: var(--box-shadow);
				margin: -10px 10px 0;
				padding: var(--space);
				position: relative;
				z-index: 10;
			}
		}

		&__category,
		&__time {
			display: none;
		}
	}
}
// ======================================== [ SPECIAL PROJECTS ] ========================================
