// ======================================== [ SPECIAL PROJECTS ] ========================================
.content-special-projects {
	--title-section-background-color: var(--yellow);
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--title-section-font-size: 24rem;
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-size: 38rem;
		--title-section-font-weight: 900;
		--content-columns: repeat(4, 1fr);
	}

	.article {
		--title-secondary-display: none;

		@media #{$mobile}, #{$phablet}, #{$tablet} {
			--article-columns: 105px 1fr;
			--article-areas: 'article--image' 'article--header';
			--article-image-height: 105px;
			--article-image-width: 105px;
			--article-media-height: 100%;
			--article-media-fit: cover;
			grid-column-gap: 20px;
		}

		@media #{$desktop}, #{$large} {
			--article-areas: 'article--image' 'article--header';

			&__header {
				background-color: var(--white);
				box-shadow: var(--box-shadow);
				margin: -10px 10px 0;
				padding: 10px;
				position: relative;
				z-index: 10;
			}
		}

		&__category,
		&__time {
			display: none;
		}
	}
}
// ======================================== [ SPECIAL PROJECTS ] ========================================
