// ======================================== [ WORTH ] ========================================
.content-twitter {
	display: grid;
	grid-template-columns: var(--content-columns);
	grid-gap: 20px;

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--title-section-font-size: 24rem;
		--content-columns: 1fr;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-size: 38rem;
		--title-section-font-weight: 900;
		--content-columns: 1fr;
	}

	.twitter--iframe {
		background-color: var(--gray);
		max-height: 560px;
		overflow-y: auto;
	}
}
// ======================================== [ WORTH ] ========================================
