$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$mobile: '(max-width: #{$break-small - 1px})';
$phablet: '(min-width: #{$break-small}) and (max-width: #{$break-medium - 1px})';
$tablet: '(min-width: #{$break-medium}) and (max-width: #{$break-large - 1px})';
$desktop: '(min-width: #{$break-large}) and (max-width: #{$break-xlarge - 1px})';
$large: '(min-width: #{$break-xlarge})';
