:root {
	// Colors
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--gray: rgb(233, 236, 242);
	--maincolor: rgb(35, 77, 166);
	--maincolor-hover: rgb(35, 77, 166);
	--secondarycolor: rgb(190, 17, 78);
	--secondarycolor-hover: rgb(190, 17, 78);
	--background-color: var(--white);
	--special-backgroundcolor: rgba(190, 17, 78, 1);;

	// Columns
	--columns: 12;
	--col-1: calc((1 / var(--columns)) * 100%);
	--col-2: calc((2 / var(--columns)) * 100%);
	--col-3: calc((3 / var(--columns)) * 100%);
	--col-4: calc((4 / var(--columns)) * 100%);
	--col-5: calc((5 / var(--columns)) * 100%);
	--col-6: calc((6 / var(--columns)) * 100%);
	--col-7: calc((7 / var(--columns)) * 100%);
	--col-8: calc((8 / var(--columns)) * 100%);
	--col-9: calc((9 / var(--columns)) * 100%);
	--col-10: calc((10 / var(--columns)) * 100%);
	--col-11: calc((11 / var(--columns)) * 100%);
	--col-12: calc((12 / var(--columns)) * 100%);

	// General
	--body-font: 16rem;
	--space: 20px;
	--space-none: 0;
	--title-section-margin-bottom: 20px;

	// Header
	--header-background: var(--maincolor);

	// Article
	--article-areas: 'article--category' 'article--image' 'article--header' 'article--time';
	--title-secondary-display: block;
	--article-columns: auto;
}
