:root {
	// Colors
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--gray: rgb(233, 236, 242);
	--yellow: rgb(255, 224, 154);
	--green: rgb(9, 191, 144);
	--lightblue: rgb(204, 218, 249);
	--maincolor: rgb(35, 77, 166);
	--maincolor-hover: rgb(35, 77, 166);
	--secondarycolor: rgb(190, 17, 78);
	--secondarycolor-hover: rgb(190, 17, 78);
	--background-color: var(--white);
	--special-backgroundcolor: rgba(190, 17, 78, 1);;
	--categorycolor: var(--maincolor);

	// Columns
	--columns: 12;
	--col-1: calc((1 / var(--columns)) * 100%);
	--col-2: calc((2 / var(--columns)) * 100%);
	--col-3: calc((3 / var(--columns)) * 100%);
	--col-4: calc((4 / var(--columns)) * 100%);
	--col-5: calc((5 / var(--columns)) * 100%);
	--col-6: calc((6 / var(--columns)) * 100%);
	--col-7: calc((7 / var(--columns)) * 100%);
	--col-8: calc((8 / var(--columns)) * 100%);
	--col-9: calc((9 / var(--columns)) * 100%);
	--col-10: calc((10 / var(--columns)) * 100%);
	--col-11: calc((11 / var(--columns)) * 100%);
	--col-12: calc((12 / var(--columns)) * 100%);

	// General
	--root-font-size: 1px;
	--body-font: 16rem;
	--space: 20px;
	--space-none: 0;
	--title-section-margin-bottom: 20px;
	--title-section-background-color: var(--gray);
	--title-section-color: var(--black);
	--box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.17);
	--section-space: 40px;

	// Header
	--header-background: var(--maincolor);

	// Article
	--article-areas: 'article--category' 'article--image' 'article--header' 'article--time';
	--title-secondary-display: block;
	--article-columns: auto;
	--article-main-category-display: none;
	--article-header-color: var(--black);

	@media #{$mobile} {
	}

	@media #{$phablet} {
	}

	@media #{$tablet} {
	}

	@media #{$desktop} {
		// --root-font-size: 0.7px;
	}

	@media #{$large} {
	}

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		--title-secondary-font-size: 18rem;
		--title-section-font-size: 33rem;
		--title-section-font-weight: 900;
		--title-section-position: 5px;
		--title-main-font-size: 18rem;
		--title-main-font-weight: 700;
		--article-category-font-size: 15rem;
	}

	@media #{$desktop}, #{$large} {
		--title-section-font-size: 38rem;
		--title-section-font-weight: 900;
		--title-section-position: 0;
		--title-main-font-size: 36rem;
		--title-main-font-weight: 700;
		--title-secondary-font-size: 20rem;
		--article-category-font-size: 17rem;
		--article-time-font-size: 15rem;
	}
}
