// ======================================== [ HOMEPAGE ] ========================================
.homepage {

	@media #{$mobile}, #{$phablet}, #{$tablet} {
		.content-breaking-news {
			display: none;
		}
	}

	.section {

		&-with-side,
		&-devided,
		&-full {
			align-items: flex-start;

			@media #{$desktop}, #{$large} {
				margin: {
					bottom: calc(var(--space) * 2.5);
				}
			}
		}

		&-with-side {
			display: grid;
			grid-template-columns: var(--section-columns);
			grid-gap: 20px;

			@media #{$mobile}, #{$phablet}, #{$tablet} {
				--section-columns: 100%;
			}

			@media #{$desktop}, #{$large} {
				--section-columns: 1fr 300px;
			}

			.banner {
				grid-column: 2;
			}
		}

		&-devided {
			display: grid;
			grid-template-columns: var(--section-columns);
			grid-gap: 20px;

			@media #{$desktop}, #{$large} {
				--section-columns: repeat(4, 1fr);
			}
		}

		&-full {
			display: grid;
			grid-template-columns: var(--section-columns);
			grid-gap: 20px;

			@media #{$mobile}, #{$phablet}, #{$tablet} {
				--section-columns: 100%;
			}

			@media #{$desktop}, #{$large} {
				--section-columns: 100%;
			}
		}
	}
}
// ======================================== [ HOMEPAGE ] ========================================
